<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      <div id="project-list" class="well" style="padding: 8px 0;">
      </div> <!-- /well -->
    </div>
    <div id="content" class="span9">
      <p>Loading...</p>
    </div>
  </div>
</div>
